<!-- upload_bulk_imei.html -->
{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
  <div
    class="card p-4"
    style="
      background-color: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    "
  >
    <h2 class="text-center mb-4">Upload Bulk IMEI Numbers</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="csv_file" class="form-label h5 text-info"
          >Choose CSV File:</label
        >
        <input
          type="file"
          class="form-control"
          id="csv_file"
          name="csv_file"
          accept=".csv"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Upload</button>
    </form>
    <div class="mt-4 text-center">
      <a href="{% url 'table2' %}" class="btn btn-secondary"
        >Back to Dashboard</a
      >
    </div>
  </div>
</div>
{% endblock %}
